.tooltip {
    position: absolute;
    width: 80px;
    height: 90px;
    padding: 10px;
    font: 10px sans-serif;
    color: white;
    text-align: center;
    background: black;
    border: 0;
    border-radius: 10px;
  }
  
  .axis-text {
    font-family: sans-serif;
    font-weight: bold;
    fill: #091180;
    text-anchor: middle;
  }
  
  .active {
    font-weight: bold;
    fill: #000;
    fill: #091180;
    transition: fill 0.3s ease-out;
    text-anchor: middle;
  }
  
  .inactive {
    font-weight: lighter;
    fill: #091180;
    transition: fill 0.3s ease-out;
    text-anchor: middle;
  }
  
  .inactive:hover {
    fill: #60e754;
    cursor: pointer;
  }